/* -------GENERAL------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* -------LAYOUT------- */
.container-items {
  background-image: url("bg-hero-desktop.svg");
  background-image: url("bg-hero-mobile.svg");
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 7em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem .2rem;
}

.header-icon{
  width: 50%;
  max-width: 300px;
}

.header-icon > img {
  width: 100%;
}

.header-button{
  width: 45%;
  max-width: 300px;
}

.header-button > .btn {
  width: 100%;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgb(231, 229, 229), -3px -3px 2px rgb(231, 229, 229);
}

/* -------Block Section------- */

.block-items {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  gap: 30px;
}

.block-text {
  align-self: center;
}

.block-image {
  width: 100%;
}

.block-text > * {
  margin-bottom: 30px;
}

.block-text > .heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.block-text p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1rem;
}

.block-image img {
  width: 100%;
}

.block-button{
  width: 80%;
  margin: 2rem auto;
}

.block-button > .btn {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* --------MAIN LAYOUT------- */
.section {
  padding: 1rem;
  margin-bottom: 3rem;
  width: 90%;
  margin: 3rem auto;
}

.section-item {
  max-width: 500px;
  margin: auto;
  box-shadow: -1px -1px 10px 0.1px rgb(236, 233, 233),
    1px 1px 10px 0.1px rgb(236, 233, 233);
  border-radius: 10px;
  margin-bottom: 1.5em;
  padding: 3rem;
  text-align: center;
}

.section-item-heading {
  align-self: center;
  padding: 1rem 0;
}
.section-item-heading > * {
  margin-bottom: 1rem;
}
.section-item-heading h2 {
  color: #00252e;
  font-size: 1.8rem;
  font-weight: 700;
}
.section-item-heading p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(208, 11%, 55%);
}

.section-item-img {
  width: 100%;
}

.section-item-img img {
  width: 100%;
}

/* section stack styling */
.section-stack {
  width: 40%;
  margin: 3rem auto;
  padding: 2rem 1rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 5px 0.1px rgb(236, 233, 233),
  -5px 0px 5px 0.1px rgb(236, 233, 233);
border-radius: 10px;
}

.section-stack-item .btn {
  margin-top: 1.5em;
}

.section-stack-btn {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  padding: 1em 3.2em;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* -------FOOTER STYLES------- */
.footer-container {
  position: relative;
  background-color: hsl(192, 100%, 9%);
  color: hsl(208, 11%, 55%);
  padding: 2rem;
}
.footer-logo {
  margin-bottom: 30px;
}

.footer-item-1 {
  color: hsl(210, 4%, 72%);
}

.location,
.phone,
.email {
  display: flex;
}

.location span {
  margin-right: 15px;
}

.phone span {
  margin-right: 15px;
}

.email span {
  margin-right: 15px;
}

.footer-item-1 > * {
  margin-bottom: 30px;
}
.footer-item-2 > * {
  margin-bottom: 30px;
}
.footer-item-3 > * {
  margin-bottom: 30px;
}
.footer-item-4 > * {
  margin-right: 10px;
}

a:hover,
a:focus {
  color: hsl(322, 100%, 66%);
}

a > .icons:hover {
  color: hsl(322, 100%, 66%);
  border: none;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.footer-bottom .copyright {
  text-align: center;
}

/* -------MEDIA QUERIES AND RESPONSIVENESS------- */

/* For mobile screen */
@media screen and (min-width: 768px) {

  .container{
    width: 100%;
  }

  .header-icon > img {
    width: 70%;
  }

  .block-items {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
  }
  .block-text {
    text-align: left;
    width: 50%;
  }

  .block-image {
    width: 50%;
  }

  .block-button {
    margin: 1rem  0;
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .section-item {
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-item-img {
    width: 100%;
  }

  .section-item-heading{
    text-align: left;
    padding-right: 2rem;
  }

  .section > div:nth-child(2) {
    flex-direction: row-reverse;
  }

.right{
  text-align: right;
  padding-left: 2rem;
}


  .footer-items {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer-item-1 {
    width: 30%;
  }
}
