/* -------GENERAL------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  width: 100%;
}

/* -------LAYOUT------- */
.container {
  max-width: 100%;
}
.container-items {
  display: flex;
  flex-direction: column;
  background-image: url("bg-hero-desktop.svg");
  background-image: url("bg-hero-mobile.svg");
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 7em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 30px 100px;
  width: 100%;
}

.header-icon > img {
  width: 100%;
}

.header-button > .btn {
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  padding: 10px 50px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgb(231, 229, 229), -3px -3px 2px rgb(231, 229, 229);
}

/* -------Block Section------- */

.block-items {
  display: flex;
  padding: 30px 100px 30px 100px;
  gap: 30px;
}

.block-text {
  width: 50%;
  align-self: center;
  padding-right: 100px;
}

.block-image {
  width: 50%;
}

.block-text > * {
  margin-bottom: 30px;
}

.block-text > .heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.block-text p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1rem;
}

.block-image img {
  width: 100%;
}

.block-button > .btn {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border-radius: 40px;
  padding: 10px 60px 10px 60px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* --------MAIN LAYOUT------- */
.section {
  display: flex;
  flex-direction: column;
  padding: 30px 100px 30px 100px;
  margin-bottom: 15rem;
}

.section-item {
  padding: 30px;
  display: flex;
  box-shadow: -1px -1px 10px 0.1px rgb(236, 233, 233),
    1px 1px 10px 0.1px rgb(236, 233, 233);
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.section-item-heading {
  width: 50%;
  align-self: center;
  padding: 30px;
}
.section-item-heading > * {
  margin-bottom: 30px;
}
.section-item-heading h2 {
  color: #00252e;
  font-size: 1.8rem;
  font-weight: 700;
}
.section-item-heading p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(208, 11%, 55%);
}

.section-item-img {
  width: 50%;
}

.section-item-img img {
  width: 100%;
}

/* section stack styling */
.section-stack {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: -125px;
}

.section-stack-item {
  box-shadow: 0 0 5px 0.1px rgb(236, 233, 233),
    -5px 0px 5px 0.1px rgb(236, 233, 233);
  border-radius: 10px;
  padding: 3em;
  background-color: #fff;
  width: 50%;
  margin: auto;
  text-align: center;
}

.section-stack-item .btn {
  margin-top: 1.5em;
}

.section-stack-btn {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  padding: 1em 3.2em;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* -------FOOTER STYLES------- */
.footer-container {
  position: relative;
  background-color: hsl(192, 100%, 9%);
  color: hsl(208, 11%, 55%);
  width: 100%;
  padding: 150px 100px 100px 100px;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-item-1 {
  width: 40%;
  color: hsl(210, 4%, 72%);
}

.location,
.phone,
.email {
  display: flex;
}

.location span {
  margin-right: 15px;
}

.phone span {
  margin-right: 15px;
}

.email span {
  margin-right: 15px;
}

.footer-item-1 > * {
  margin-bottom: 30px;
}
.footer-item-2 > * {
  margin-bottom: 30px;
}
.footer-item-3 > * {
  margin-bottom: 30px;
}
.footer-item-4 > * {
  margin-right: 10px;
}

a:hover,
a:focus {
  color: hsl(322, 100%, 66%);
}

a > .icons:hover {
  color: hsl(322, 100%, 66%);
  border: none;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.footer-bottom .copyright {
  margin-left: auto;
}

/* -------MEDIA QUERIES AND RESPONSIVENESS------- */

/* For mobile screen */
@media screen and (max-width: 390px) {
  .header {
    display: flex;
    padding: 15px 20px 15px 20px;
  }

  .header-icon > img {
    width: 50%;
  }

  .header-button > .btn {
    padding: 6px 12px 6px 12px;
    font-size: 1rem;
  }

  .block-items {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 15px 20px;
  }
  .block-text {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }

  .block-image {
    width: 100%;
  }

  .block-button > .btn {
    font-size: 1.3rem;
  }

  .section {
    padding: 15px 20px 15px 20px;
  }

  .section-item {
    display: flex;
    flex-direction: column;
  }

  .section-item-img {
    width: 100%;
  }

  .section-item-heading {
    width: 100%;
  }

  .section > div:nth-child(1) {
    flex-direction: column-reverse;
  }

  .section > div:nth-child(3) {
    flex-direction: column-reverse;
  }

  .section-stack-item {
    width: 90%;
  }
  .section-stack-btn {
    padding: 1em 3em;
  }

  .footer-container {
    padding: 200px 20px 50px 20px;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
  }

  .footer-item-1 {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-item-3 {
    margin-bottom: 30px;
  }

  .footer-item-4 {
    text-align: center;
  }

  .footer-bottom {
    display: block;
    text-align: center;
  }
}
